<div class="col">
    <h1 class="text-primary-emphasis mt-5 mb-3 pb-2">Расходы</h1>
    
    <div class="row row-cols-3" id="expenses-container">

    </div>
    
    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h1 class="modal-title fs-5 text-center text-dark-violet"
                        id="deleteModalLabel">Вы действительно хотите удалить категорию?</h1>
                </div>
                
                <div class="modal-footer border-top-0 justify-content-center">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="confirmDeleteBtn">Да, удалить</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
                </div>
            </div>
        </div>
    </div>
</div>
