<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="pb-1 mb-5 col-5 mx-auto text-center"><img src="../../../static/svg/logo.svg" alt="Lumincoin FINANCE"></div>
            
            <div class="card bg-transparent border-0">
                <div class="card-body px-2">
                    <p class="mb-3 pb-1 lh-sm fs-1 text-center fw-medium text-primary-emphasis">Вход</p>
                    <div id="common-error" class="error invalid-feedback text-center mb-3">Неправильный email или пароль</div>
                    
                    <form>
                        <div class="input-group mb-2 pb-1">
                            <span class="input-group-text"><i class="fa-regular fa-envelope-open text-secondary"></i></span>
                            <input type="email" class="form-control" id="email" placeholder="Электронная почта">
                            <span id="email-error" class="error invalid-feedback">Введите корректный Email</span>
                        </div>
                        
                        <div class="input-group mb-2 pb-1">
                            <span class="input-group-text"><i class="fa fa-lock text-secondary"></i></span>
                            <input type="password" class="form-control" id="password" placeholder="Пароль">
                            <span id="password-error" class="error invalid-feedback">Заполните пароль</span>
                        </div>
                        
                        <div class="form-check mb-3 pb-1 d-flex align-items-baseline">
                            <input type="checkbox" class="form-check-input small" id="remember">
                            <label class="form-check-label small ms-2" for="remember">Запомнить меня</label>
                        </div>
                        
                        <button type="button" class="btn btn-primary w-100 mb-2" id="process-button">Войти</button>
                        
                        <span class="small">Ещё нет аккаунта?</span>
                        <a href="/sign-up" class="card-link small">Пройдите регистрацию</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>