<div class="col">
    <h1 class="text-primary-emphasis mt-5 mb-3 pb-2">Создание категории доходов</h1>
    
    <div class="row row-cols-3">
        <div class="col mt-3">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="col mb-3">
                        <input type="text" class="form-control" id="categoryNameInput" placeholder="Название...">
                        <span id="categoryNameInput-error" class="error invalid-feedback">Заполните поле</span>
                    </div>
                    <button type="button" class="btn btn-success" id="incomeCreateBtn">Создать</button>
                    <a href="/income" class="btn btn-danger">Отмена</a>
                </div>
            </div>
        </div>
    </div>
</div>
